[submodule "Multi-Objective-Reactive-Motion-Planning-in-Mobile-Manipulators"]
	path = Multi-Objective-Reactive-Motion-Planning-in-Mobile-Manipulators
	url = https://github.com/hjw-1014/Multi-Objective-Reactive-Motion-Planning-in-Mobile-Manipulators.git
