<library path="src">
  <class name="IiiwasManager" type="iiwas_rqt.iiwas_manager.IiwasManager" base_class_type="rqt_gui_py::Plugin">
    <description>
     	User interface to use the Iiwas robot.
    </description>
    <qtgui>
      <group>
        <label>Robot Tools</label>
        <icon type="theme">folder</icon>
        <statustip>Plugins related to robot tools.</statustip>
      </group>
      <label>IIwas Manager</label>
      <icon type="file">resource/icon.png</icon>
      <statustip>Manage Iiwas robot</statustip>
    </qtgui>
  </class>
</library>